div(class="py-3 rounded modal fade" role="dialog" tabindex="-1" id="myModal")
    div(class="modal-dialog" role="document")
        div(class="modal-content border bg-dark p-3")
            div(class="modal-header position-relative p-0 p-sm-3")
                h5(class="modal-title text-white") Make a new Ad
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(class="text-white") &times;
            form(id="theForm" enctype="multipart/form-data" method="POST")
                div(class="form-group pt-1 pt-sm-3 pb-0 mb-0")
                    label(for="titleInp" class="mb-0 pl-2 text-white") Title
                    input(type="text" name="title" class="form-control form-control-sm" id="titleInp" required pattern=".{3,}" placeholder="Ad title" title="3 characters minimum")
                div(class="form-group py-2 py-sm-3 pb-0 mb-0")
                    label(for="picInp" class="mb-0 pl-2 text-white") Picture1
                    input(type="file" class="form-control-file bg-white" accept="image/png" id="picInp" name="picInp")
                div(class="form-group mb-0 d-flex flex-column mt-1 mt-sm-3")
                    label(for="textInp" class="mb-0 pl-2 order-2 order-sm-1 text-white") Ad description
                    textarea(class="form-control form-control-sm order-3 order-sm-2" name="text" id="textInp" required minlength="5" placeholder="Description")
                div(class="form-group pt-1 pt-sm-3 pb-0 mb-0")
                    span(class="m-0 p-0 pl-2 text-white") Contacts:
                    div(class="pb-0 m-0 mt-1 newAd__ContactsBox")
                        div(class="text-white rounded p-1 border" id="newAd__contactsView")   

                        div(class="newAd__contactsSome mt-1")
                            input(type="button" class="btn btn-dark btn-sm border" data-toggle="collapse" data-target="#newAd__addContacts" id="newAd__addContactsBtn" value="add contacts")
                        
                        div(id="newAd__addContacts" class="collapse pt-1 border mt-2")
                            div(class="newAd__inputPart d-flex p-1")
                                div(class="col-4 p-0 m-0")
                                    label(for="newAd__cProp" class="small text-white mt-0 mb-1") type of contact
                                    br
                                    input(type="text" id="newAd__cProp" class="w-100 small mr-1" placeholder="ex.: tel, mail, location")
                                div(class="col-6")
                                    label(for="newAd__cVal" class="text-white mb-1 mt-0 small") value of contact
                                    br
                                    input(type="text" id="newAd__cVal" class="w-100 small mr-1" placeholder="ex.: 3242343, aaa@bbb.ccc")
                                input(type="button" class="btn btn-primary btn-sm" id="newAd__addToContactsObj" value="add!")

                div(class="form-group pt-1 pt-sm-3 pb-0 mb-0")
                    label(for="categoriesInp" class="mb-0 pl-2 text-white") Categories
                    input(type="text" class="form-control form-control-sm" name="categories" id="categoriesInp" maxlength="20")
                div(class="input-group mt-0 mb-1 mb-sm-0 mt-sm-3 col-12 col-sm-4 order-1 order-sm-3 p-0")
                    button(type="submit" class="btn btn-dark border btn-block" id="subm") send
                        i(class="fa fa-paper-plane" aria-hidden="true")