div(class="py-3 rounded modal fade" role="dialog" tabindex="-1" id="oldModal")
    div(class="modal-dialog" role="document")
        div(class="modal-content border bg-dark p-3")
            div(class="modal-header position-relative p-0 p-sm-3")
                h5(class="oldModalTitle text-white") Some Title
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(class="text-white") &times;
            div(class="container pt-1 pt-sm-3 pb-0 mb-0")
                img(src="", alt="some pic")
            div(class="container pt-1 pt-sm-3 pb-0 mb-0")
                div(class="oldModalText mb-0 pl-2 text-white") Text
            div(class="container mb-0 d-flex flex-column mt-1 mt-sm-3")
                div(class="oldModalContacts mb-0 pl-2 order-2 order-sm-1 text-white") tel:  11111111111
            div(class="container mb-0 d-flex flex-column mt-1 mt-sm-3")
                span(class="mb-0 text-white") the autro:
                div(class="oldModalAuthor mb-0 pl-2 text-white") author: 
                span(class="mb-0 text-white") hits:
                div(class="oldModalHits mb-0 pl-2 text-white") hits: 
                span(class="mb-0 text-white") date of creation:
                div(class="oldModalDate mb-0 pl-2 text-white") date: 
                    