template(id="noticeCardTemp")
    div(class="noticeCard col-2 offset-1 border p-2 text-center")
        img(src="assets/moon.png" class="p-1 mb-2 border rounded")
        h6(class="font-weight-bold") title
        p(class="text-justify mb-0 small") Woah. The text
        p(class="mb-0 d-none") contacts
        div(class="auId col-12 small") 4444
        div(class="container d-flex p-0")
            div(class="col-2 small p-0 text-left") hits:
            div(class="hits col-2 badge bg-warning") hits
        div(class="date0 col-12 small") date
        div(class="date1 col-12 small") date
        
        button(type="button" class="btn btn-dark btn-sm border" id="modalToggle" data-toggle="modal" data-target="#oldModal") View Ad
