template(id="noticeCardTemp")
    div(class="noticeCard border text-center p-2 d-flex my-1 bg-light rounded")
        div(class="nCardImg position-relative mr-1")
            img(class="border rounded" src="dist/assets/moon.png" style="width: 27vh; height: 27vh")
            div(class="px-1 rounded" style="position: absolute; bottom: 7px; right:8px; background-color: white;")
                span(class="small p-0 text-left")
                    i(class="fa fa-eye") &nbsp;
                span(class="hits small") 0
        div(class="rounded p-1 border d-flex flex-column" style="width: 35vh; height: 27vh;")
            h6(class="font-weight-bold p-0 m-0") title
            p(class="cardsText text-justify mb-0 small" style="flex-grow: 1") Woah. The text
            .nC__contactsView
            p(class="cardsContacts mb-0 d-none") contacts
            div(class="nCardCategories d-none")
            div(class="cardCategoriesVis" style="line-height:1.2; font-size:0.85rem")
            div()
                span(class="small") by 
                a(href="smth?=auId" class="authorLink small" target="_blank") IvanFierce
            div(class="d-flex")
                div(class="date0 col-7 small p-0") 2019-02-13
                div(class="date1 col-4 small p-0") 20:02
            button(type="button" class="btnSeeMore btn btn-dark btn-sm border" data-toggle="modal" data-target="#oldModal") View Ad
