extends layout

block content
    section(id="mainView" class = "view d-flex flex-row-reverse flex-wrap border p-3")
                    
    include includes/modalNew
    include includes/modalExisting