extends layout

block content
    section(id="mainView" class = "view d-flex flex-row-reverse justify-content-around flex-wrap border p-3 mx-auto")
                    
    include includes/modalNew
    include includes/modalExisting