doctype html
html
    head
        title heyo there, is the title
    body
        block header
            include includes/header
        block content
        block footer
        script(src="somescript.js")